<h1>Welcome -- Helpful Information For You</h1>
<p>If this is your first time using the app here is some helpful instructions.</p>
<ol>
  <li>The navigation bar at the top will take you to the different sections of the app</li>
  <li>
    The Therapists tab will let you see a list of your current therapists as well as add or remove therapists from the system.
    You can also see the details of a therapist, recent activity that has happened with that therapist and any appointments the therapist has.
  </li>
  <li>The Clients tab will let you see a list of the clients currently in the system as well as add or remove clients from the system.
      You can also see the details of a client, recent activity that has happened with that client and any appointments the client has.</li>
  <li>The Appointments tab will let you see a list of both past and future appointments in the system as well as add or remove appointments from the system.
          You can also see the details of an appointment, recent activity that has happened with that appointment and the therapist as well as client connected with the appointment.
  </li>
</ol>