<div class="row">
  <div class="col-10">
    <h2>New Client</h2>
  </div>
  <div class="col-2">
    <a [routerLink]="['/clients']">Back to list</a>
  </div>
</div>

<form class="card card-body mb-3">
  <h3>Client Profile</h3>
  <label>
    Name:
    <input type="text" class="form-control" name="name" [(ngModel)]="editItem.name" />
    <p class="alert alert-danger" *ngIf="nameInvalid">Name cannot be empty</p>
  </label>
  <div class="row">
    <div class="col">
      <a (click)="save()" class="btn btn-primary">Save</a>
    </div>
  </div>
</form>